body{background: black url(images/dark-triangles.png); margin: 0; padding: 0; font: 16px/24px Arial, Tahoma, sans-serif;}
a{text-decoration: none;}

/*структура сайта*/
div.mid{width: 1000px; margin: 0 auto;}
div.header{height:auto;background: #101417;}

/*регистрация*/
div.registr{background:#101417;margin-left: auto; margin-right: auto;}


/*Шапка сайта*/
div.topmenu{float: right; height: 70px; line-height: 70px;}
div.topmenu a{margin: 0 0 0 10px; color:aqua;}
div.topmenu a:hover{color:aquamarine;}
div.afisha{padding: 18px 50px 0 50px; background: #f2f2f2 url(images/long.png) top repeat-x;}

/*Главное меню*/
div.menu{background:gray; border: 1px solid black; border-left:none; border-right:none;}
div.menu ul{margin: 0; padding: 0; list-style: none; text-align: center;}
div.menu ul li {display: inline-block; margin: 5px 50px;}
div.menu ul li a{color: #fff; text-transform: uppercase; text-shadow: 3px 1px 3px #0b4455;}
div.menu ul li a:hover{color: #a3e1f3;}

div.clear{clear:both;}
/*контент сайта*/
div.block {width:250px; float:left; margin-top:9px; margin-left:10px;}
div.block:nth-of-type(even) {float:right;}
div.anons {background: #fff; border: 1px solid #ccc; border-radius: 3px; padding: 20px;}
div.anons h3{font-size: 18px; margin: 20px 0 10px; padding:0; color: aqua;}

div.clear{clear:both;}


div.footer{margin-top:500px;
margin-right:500px;
margin-bottom:500px;
margin-left:500px;}